input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

#formContainer{
    margin: auto;
    margin: 20px;
}

#submitButton{
    margin: auto;
    margin: 10px;
}

